.marker {
    width: 24px;
    height: 24px;
    background-color: #3b85cb;
    border-radius: 50%;
    border: 1.5px solid #FFFFFF;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 16px;
    user-select: none;
}